.testimonials {
	background-color: var(--accent-color);
	text-align: center;
	color: var(--white-color);
}

.testimonials__content {
	margin: 0 auto;
	font-size: 24px;
	font-weight: 500;
	min-height: 50px;
}

.testimonials__author {
	padding-top: 35px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
}


/*slider for text*/

.slider {
	position: relative;
	width: 100%;
	overflow: hidden;
	transition: all .3s;
	perspective: 900px;
	transform-style: preserve-3d;
}

.slider .previous, .slider .next {
	font-family: "FontAwesome";
	font-size: 20px;
	position: absolute;
	top: 50%;
	color: var(--white-color);
	padding: 20px;
	text-decoration: none;
	left: -100px;
	margin-top: -34px;
	transition: all .3s;
	opacity: 0;
	z-index: 10000;
}

.slider .next {
	right: -100px;
	content: "\f054";
	left: auto;
}

.slider:hover .previous, .slider:hover .next {
	opacity: 1;
}

.slider:hover .previous {
	left: 0;
}

.slider:hover .next {
	right: 0;
}

.slider .slides {
	height: 100%;
}

.slide {
	padding: 10%;
	min-height: 340px;
	width: 100%;
	text-align: center;
	position: absolute;
	transform: scale(0.5, 0.5);
	opacity: 0;
	transition: all .3s;
}

.slide.active {
	z-index: 10;
	left: 0;
	opacity: 1;
	transform: scale(1, 1);
}

.slide.inactiveLeft {
	left: -100vw;
	z-index: 11;
}

.slide.inactiveRight {
	left: 100vw;
	z-index: 11;
}

.slide:after {
	content: attr(data-icon);
	font-family: "FontAwesome";
	font-size: 15vw;
	position: absolute;
	bottom: -8vw;
	left: 0;
	opacity: 0.3;
}

.slider .bullets {
	text-align: center;
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.slider .bullets .bullet {
	position: relative;
	display: inline-block;
	background: rgba(255, 255, 255, .4);
	border-radius: 50%;
	width: 8px;
	height: 8px;
	z-index: 14;
	margin: 0 5px;
	cursor: pointer;
	border: 2px solid transparent;
	transition: all .3s;
}

.slider .bullets .bullet.active {
	background: rgb(255, 255, 255);
}

.slider .bullets .bullet:hover {
	background: rgb(255, 255, 255);
}
